* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-crema;
}

h1 {
    margin: 40px 20px;
    text-align: center;
}

h2 {
    margin: 10px;
    text-align: center;
}